<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink = "/" routerLinkActive="active" >Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav mr-auto" >
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink = "/members" routerLinkActive="active">Matched</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/messages" routerLinkActive="active" >Messages</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/errors" routerLinkActive="active" >Errors</a>
          </li>
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle >Welcome {{user.userName | titlecase}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click) = "logout()">logout</a>
          </div>
        </div>
        <form *ngIf="(accountService.currentUser$ | async) === null" class="form-inline mt-2 mt-md-0" autocomplete="off" #loginForm = "ngForm" (ngSubmit) = "login()">
          <input class="form-control mr-sm-2" name="username" [(ngModel)]="model.username" type="text" placeholder="UserName" aria-label="Search">
          <input class="form-control mr-sm-2" type="text" name="password" [(ngModel)]="model.password" placeholder="Password" aria-label="Search">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
  </nav>